<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @talk.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @talk.body %>
</p>

<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
