<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @cost.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @cost.body %>
</p>

<p>
  <strong>Money:</strong>
  <%= @cost.money %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
