<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @income.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @income.body %>
</p>

<p>
  <strong>Money:</strong>
  <%= @income.money %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
