<p id="notice"><%= notice %></p>

<h1>Wallet Application</h1>

<div id="index">
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show and add transactions', post %></td>
        <td><%= link_to 'Edit Category', edit_post_path(post) %></td>
        <td><%= link_to 'Delete Category', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div id="bottom">
<%= link_to 'New Category', new_post_path %>
</div>
