<p id="notice"><%= notice %></p>

<div id = "header">
  <strong>Category:</strong>
  <%= @post.title %>
</div>

<div id="description">
  <strong>Description:</strong>
  <%= @post.body %>
</div>

<% if false %>
<h2>Comments</h2>
<div id="comments">
	<% @post.comments.each do |comment| %>
		<%= div_for comment do %>
		<p>
		  <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
		  <%= h(comment.body) %>
		</p>
	<% end %>
<% end %>
</div>

<%= form_for([@post, Comment.new]) do |f| %>
	<p><%= f.label :body, "New Comment" %><br />
           <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add Comment" %></p>
<% end %>


<h3>Talks</h3>
<div id="talks">
	<% @post.talks.each do |talk| %>
		<%= div_for talk do %>
		<p>
		  <strong>Posted <%= time_ago_in_words(talk.created_at) %></strong><br />
		  <%= h(talk.body) %>
		</p>
	<% end %>
<% end %>
</div>

<%= form_for([@post, Talk.new]) do |f| %>
	<p><%= f.label :body, "New Talk" %><br />
           <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add Talk" %></p>
<% end %>
<% end %>

<div id="lcost">
<h4>Costs</h4>
<div id="costs">
	<% @post.costs.each do |cost| %>
		<%= div_for cost do %>
		<p>
		  <strong>Posted <%= time_ago_in_words(cost.created_at) %></strong><br />
		  <%= h(cost.body) %>
		  <%= h(cost.money) %>
		</p>
	<% end %>
<% end %>
</div>

<% if false%>
<div id="total_costs">
	<var>total</var>
	<% @post.costs.each do |cost| %>
		<%= div_for cost do %>
		total = total + cost.money;
	<% end %>
<% end %>
        <strong>Expense </strong><br />
        <% h(total)%>
</div>
<% end %>

<%= form_for([@post, Cost.new], remote:true) do |f| %>
	<p><%= f.label :body, "New Cost" %><br />
	   <%= f.text_area :body %><br />
           <%= f.label :money, "Amount(Integer)" %><br />
	   <%= f.text_area :money %>
        </p>
        <p><%= f.submit "Add Cost" %></p>
<% end %>
</div>

<div id="lincome">
<h4>Incomes</h4>
<div id="incomes">
	<% @post.incomes.each do |income| %>
		<%= div_for income do %>
		<p>
		  <strong>Posted <%= time_ago_in_words(income.created_at) %></strong><br />
		  <%= h(income.body) %>
		  <%= h(income.money) %>
		</p>
	<% end %>
<% end %>
</div>

<%= form_for([@post, Income.new], remote: true) do |f| %>
	<p><%= f.label :body, "New Income" %><br />
	   <%= f.text_area :body %><br />
	   <%= f.label :money, "Amount(Integer)" %><br />
	   <%= f.text_area :money %>
        </p>
        <p><%= f.submit "Add Income" %></p>
<% end %>
</div>

<div id = "bottom">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
