// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header,h1{
   background-color:black;
   color:white;
   text-align: center;
   padding:10px;
   font-size: 200%;
}

#description{
   background-color:black;
   color:white;
   text-align: center;
   padding:10;
}

#lcost{
   background-color: #eeeeee;
   float:left;
   padding: 5px;
   width:49%;
   text-align: center;
}

#lincome{
   background-color: #eeeeee;
   float:right;
   padding: 5px;
   width: 49%;
   text-align: center;
}
 
#bottom{
   background-color: black;
   color:white;
   clear:both;
   text-align:center;
   padding:5px;
}

#edit,#index,table,thead,tbody,#new{
   background-color: #eeeeee;
   padding: 5px;
   text-align: center;
}
